<div class="container">
  <h1><%=translate("user.update_password")%></h1>
  <form action="/password/update" method="post" id="update-password" class="needs-validation">
    <div class="mt-4">
      <label for="password" class="form-label is-required h4"><%=translate("user.password")%></label>
      <input id="password"class="form-control" type="password" name="password" placeholder="<%=translate("user.password")%>"/>
    </div>
    <div class="mt-4">
      <label for="password_confirmation" class="form-label is-required h4"><%=translate("user.password_confirmation")%></label>
      <input id="password_confirmation" class="form-control" type="password" name="password_confirmation" placeholder="<%=translate("user.password_confirmation")%>"/>
    </div>
    <div class="mt-4">
      <div class="d-flex mt-4 justify-content-between">
        <button type="submit" class="btn btn-success"><%=translate("form.save")%></button>
      </div>
    </div>
  </form>
</div>

<script>
  $().ready(function(){
    $('#update-password').validate({
      rules: {
        password: {
                    required: true,
                    minlength: 8
                  },
        password_confirmation:  {
                    required: true,
                    equalTo: '#password'
                  },

      },
      messages: {
        password: {
            required: "<%=translate("form.user.enter_password")%>",
            minlength: "<%=translate("form.user.password_min_characters")%>"
        },
        password_confirmation: {
            required: "<%=translate("form.user.enter_password_confirmation")%>",
            equalTo: "<%=translate("form.user.invalid_password_confirmation")%>"
        },

      }
    });
  })
</script>
